button{
    background-color: #d7d7df; 
    color: rgb(22, 19, 19);
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    position: relative;
    margin:4px;
    
    
  }
  
  body{
      background-color: rgb(66, 43, 196);
  }
  
  input,select {
      width: 50%;
      padding: 5px;
      margin: 5px ;
      
  }
  #headingID
  {
      color:black;
      font-style: bold;
      
  }
  
  
  * {
      box-sizing: border-box;
  }