button{
    background-color: #d9d9eb; 
    color: rgb(24, 22, 22);
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    margin:4px;
    
    
  }

  
  body{
      background-color: rgb(43, 35, 156);
  }
  
  input,select {
      width: 50%;
      padding: 5px;
      margin: 5px ;
      
  }
  #headingID
  {
      color:black;
      font-style: bold;
      
  }
  
  * {
      box-sizing: border-box;
  }